<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New field type</h1>

  <%= render "form", field_type: @field_type %>

  <%= link_to "Back to field types", field_types_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
